.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(133, 119, 101);
  min-height: 100vh;
}

.Container {
  min-height: 150px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: brown;
  display: flex;
  justify-content: center;
}

.btn {
  padding: 2rem;
  font-size: 2rem;
  margin: 1rem;
}

.BotaoSimplesUmElemento {
  background-image: linear-gradient(rgb(107, 107, 15), rgb(53, 77, 40));
  max-width: max-content;
}

.InputFieldUmElemento {
  background-image: linear-gradient(-18deg, rgb(16, 16, 105), blue);
  color: white;
}

.RenderListUmElemento {
  background-image: linear-gradient(-18deg, rgb(146, 109, 6), rgb(166, 255, 0));
}

.ConditionalRenderUmElemento {
  background-image: linear-gradient(-128deg, rgb(14, 7, 44), rgb(255, 0, 0));
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.RenderLigado {
  background-color: white;
  padding: 1rem;
  color: black;
  border-radius: 10px;
  max-width: min-content;
}

.RenderDesligado {
  padding: 1rem;
  background-color: black;
  color: white;
  border-radius: 10px;
  max-width: min-content;
}

.ConditionalStylingUmElemento {
  background-image: linear-gradient(rgb(0, 0, 0), rgb(82, 82, 82));
  color: white;
}

.btnstyle {
  background-color: crimson;
  color: white;
}

.BotaoSimplesDoisElementos {
  background-color: teal;
}
.BotaoSimplesDoisElementosFilho {
  background-color: rgb(41, 202, 202);
}
.BotaoSimplesDoisElementosInvertido {
  background-color: rgb(128, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.BotaoSimplesDoisElementosInvertido h2 {
  color: white;
}

.BotaoSimplesDoisElementosInvertidoFilho {
  background-color: rgb(235, 69, 69);
  max-width: 300px;
  font-size: large;
}

.InputFieldDoisElementos {
  color: white;
  background-color: rgb(3, 3, 128);
}
.InputFieldDoisElementosFilho {
  background-color: rgb(29, 58, 1);
  color: white;
  margin: 2rem;
}

.InputFieldDoisElementosInvertido {
  background: violet;
  display: grid;
  place-items: center;
}
.InputFieldDoisElementosInvertidoFilho {
  background-color: teal;
  padding: 1rem;
  margin: 1rem;
  width: max-content;
}

.RenderListDoisElementos {
  background-image: radial-gradient(blue, green);
}
.RenderListDoisElementosFilho {
  background-image: radial-gradient(rgb(83, 83, 212), rgb(52, 190, 52));
}
